* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
   
}
body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.phone {
    padding-left: 5px;
    color: white;
    margin-left: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FBB20E;
    width: 140px;
    height: 35px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.number {
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
}

.information {
    margin-right: 350px;
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.search {
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background-color:#DFDFDF;
    border-radius: 150px;
    padding: 5px 10px 5px 10px;
}

.search:hover { 
    background-color: #CFCFCF;

}

input {
    font-size:medium;
    border: none;
    background-color: transparent;
    color: #817E7E;
    border-radius: 12px;
}

input:focus {
    outline: none;
}
.cart {
    width: 32px;
    height: 32px;   
    background-color: #008AE6;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    
}

.cart:hover {
    background-color: #0071B3;
}

.user {
    width: 32px;
    height: 32px;   
    background-color: #008AE6;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.user:hover {
    background-color: #0071B3;
}

.nav {
    overflow: hidden;
}


.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    padding: 0;

}

.nav ul li {
    list-style: none;
    font-size: 14px;
    font-weight: bold;
}

.nav ul li a {
    text-decoration: none;
    color: #0E78C0;
}

.nav ul li a:hover,  .dropdown:hover .dropbtn {
    background-color: #008AE6;
    color: #ffffff;
}

.nav ul li a:hover {
    width: 300px;
    height: 150px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropbtn {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dropdown .dropbtn {
  font-size: 14px; 
  font-weight: bold; 
  border: none;
  outline: none;
  color: #0E78C0;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
  

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #008AE6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #0071BC;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.bread-crumb {
    width: 100%;
    height: 150px;
    background-color: #0E78C0;
}

.category {
    padding: 30px 40px 30px 360px;
    color: white;
}

.content {
    width: 100%;
    height: 900px;
    background-color: #F4F7F9;
    border: none;
    display: flex;
    justify-content: space-between;
}


.side-bar {
    width: 15%;
    height: 800px;
    background-color: white;
    margin-left: 350px;
    margin-top: 5px;
}

.book-category {
    border-radius: 12px;
    padding-top: 1px;
    height: 900px;
    width: 250px;
}

.book-category h2 {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.book-category ul {
    list-style: none;
    padding-left: 12px;
    
}

.book-category ul li {
    margin: 20px 0 0 10px;
}

.book-category ul li a {
    text-decoration: none;
    color: #383434;
    font-size: 16px;
}

.book-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid #E0E0E0;
}

.cover-best {
    width: 60px;
    height: 70px;
}

.book-info {
    padding-top: 50px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.book-price {
    font-size: large;
    color: red;
}

.book-title:hover {
    color: #008AE6;
}

.book-detail {
    padding: 12px 300px 0 30px;
    font-size: large;
}

.book-details {
    width: 200px;
    height: 100px;
    background-color: rgb(173, 27, 27);
    text-align: center;
}

.book-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
    
}

.cover-list {
    width: 200px;
    height: 250px;
    margin-right: 20px;
}

.book-details-title {
    font-size: 15px;
    color: #005D9B;
}

.buy-button {
    width: 150px;
    height: 60px;
    background-color: #008AE6;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

.add {
    padding-right: 10px;
    margin-top: 400px;
}

.footer {
    text-align: center;
    padding: 10px 0 10px 0;
    color:#ffffff;
    background-color:#0071BC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer {
    padding: 10px 0 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cus {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
}